a {
	text-decoration: none !important;
	color: #49654c;
}
.block {
	padding: 130px 330px;
}
.block .splitcontent:nth-of-type(1) {
	padding-right: 13%;
}
.blur {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.blurImg {
	position: relative;
	width: 100%;
	height: 900px;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;
	transform: skewY(-6deg);
	transform-origin: top left;
  }
.blurImg > div {
	position: fixed;
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.btn {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 0.9px;
	text-align: left;
	color: #f6f6f6;
	background-color: #B97734;
	padding: 20px 35px;
	display: inline-block;
	border: 0;
}
.center {
	text-align: center;
}
.fa {
    font-size: 35px !important;
    color: white;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
.fa:hover {
	opacity: .5;
}
.footer {
	padding: 30px 330px;
}
form {
	margin: 100px 0 0;
}
.fourth {
	width: 18%;
	display: inline-flex;
	vertical-align: top;
	font-family: Libre Baskerville;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: 6px;
	text-align: center;
	color: #083931;
	background-color: #f9f9f9;
	min-height: 100px;
	justify-content: center;
	flex-direction: column;
	margin: 11px;
	text-transform: uppercase;
	padding: 20px
}
.gray {
	background-color: #ebebe9;
}
.green {
	background-image: linear-gradient(to bottom right, #083931, #031c18);
}
h1 {
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-size: 35px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: 15px;
}
h2 {
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: 9px;
	color: #083931;
	margin: 0 0 10px 0;
}
h3 {
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: 9px;
	color: #083931;
	margin-bottom: 10px;
	margin-top: 0;
}
h4 {
    font-family: 'Libre Baskerville', serif;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.24;
	letter-spacing: 9px;
	color: #083931;
	margin: 60px 0 10px;
}
h5 {
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.18;
	letter-spacing: 3.4px;
	color: #c0ceb2;
	text-transform: uppercase;
	margin: 0;
}
h6 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 3.4px;
	text-transform: uppercase;
	color: #c0ceb2;
	margin: 0;
}
.hero-btn {
	width: 70px;
	height: 70px;
	background-color: #B97734;
	position: absolute;
	right: 235px;
	top: 715px;
}
.hero-btn .point {
	position: relative;
	right: -45px;
	bottom: -40px;
}
.hero-btn .point:before, .hero-btn .point:after {
	border: 2px solid white;
	height: 25px;
	content: "";
	position: absolute;
	border-radius: 7px 7px 7px 7px;
}
.hero-btn .point:before {
	top: -11px;
	left: -11px;
	transform: rotate(-124deg);
	-webkit-transform: rotate(-124deg);
	-moz-transform: rotate(-124deg);
	-ms-transform: rotate(-124deg);
}
.hero-btn .point:after {
	top: -26px;
	left: -10px;
	transform: rotate(-52deg);
	-webkit-transform: rotate(-52deg);
	-moz-transform: rotate(-52deg);
	-ms-transform: rotate(-52deg);
}
.hero-text {
	position: absolute;
	top: 333px;
	right: 220px;
	width: 614px;
	text-align: right;
	color: #083931;
}
#home {
	background-color: rgba(0, 0, 0, 0);
}
input[type=text] {
	width: calc(50% - 48px);
	display: inline-block;
	padding: 15px;
	border: 1px solid #253628;
    margin-bottom: 25px;
    color:#c0ceb2;
}
input:nth-of-type(odd) {
	margin-right: 27px;
}
.interior-header {
	position: relative;
	height: 500px;
	overflow: hidden;
}
.interior-header div {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-color: #083931;
	background-size: cover;
	transform: skewY(-6deg);
	transform-origin: top left;
}
.interior-header div::after {
	content: "";
	background: url(../img/interior-hero.jpg);
	background-position: center center;
	background-size: cover;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.interior-header h1 {
	position: absolute;
	top: 200px;
	color: white;
	width: 100%;
	text-align: center;
}
nav {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding: 0 100px;
	margin: 0 100px;
}
.navigation-left {
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 5.7px;
	color: #083931;
	text-transform: uppercase;
	height: 12px;
	width: 20%;
	display: inline-block;
	text-align: left;
}
.navigation-left img{
	max-height: 85px;
}
.navigation-mobile {
	width: 20%;
	display:none;
}
.navigation-right a {
	margin-top: 20px;
}
.navigation-right a, .navigation-left a {
	color: #083931 !important;
}
.navigation-right a, .section:nth-of-type(2) a, .section:nth-of-type(3) a {
	margin-right: 15px;
	display: inline-block;
}
.navigation-right,   .sidenav a {
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 5.7px;
	color: #083931;
	text-transform: uppercase;
	width: 79%;
	display: inline-block;
	vertical-align: top;
	padding-top:13px;
}
.navigation-right {
	text-align: right;
}
p {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: .6px;
	color: #49654c;
	margin: 30px 0;
}
/* p a {
	margin: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 5.7px;
	color: #083931;
	text-transform: uppercase;
	display: inline-block;
	text-align: right;
} */
::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: normal !important;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
}
::-webkit-input-placeholder {
    color: #c0ceb2;
  }
  ::-moz-placeholder {
    color: #c0ceb2;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #c0ceb2;
  }
  :-moz-placeholder {
    color: #c0ceb2;
  }
  .scroll-downs {
    position: absolute;
    right: 0;
    top: 850px;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
.section {
	margin: 20px 0;
}
.section:nth-of-type(2) {
	margin-top: 50px;
}
.section:nth-of-type(2) a {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5.7px;
	color: #f6f6f6;
}
.section:nth-of-type(3) a, .section:nth-of-type(3) div {
	font-family: Montserrat;
	font-size: 10px;
	letter-spacing: 1px;
	color: #f6f6f6;
	display: inline-block;
	margin-right: 30px;
}
.splitcontent {
	width: 43%;
	display: inline-block;
	vertical-align: top;
}
.splitcontent img {
	width: 100%;
	height: auto;
}
textarea {
	width: calc(100% - 30px);
	height: 140px;
	padding: 15px;
	border: 1px solid #253628;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: normal !important;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
    resize: none;
    color:#c0ceb2
}
.thirds {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}
/* Hover */

a:hover .fourth {
	box-shadow: 0 0 10px rgba(37, 54, 40, .1)
}
.btn:hover, a .hero-btn:hover {
	background-color: #6E371B;
	-webkit-transition: background-color .5s; 
	transition: background-color .5s;	
	transition-timing-function: ease-in;
}
p a:hover {
	opacity: .5;
}
.section:nth-of-type(2) a:hover, .section:nth-of-type(3) a:hover, .navigation-right a:hover{
	opacity: .5;
}



/* Mobile */
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
	.fourth {
		width: 38%;
	}
	.hero-btn {
		top: 740px;
	}
}
@media only screen and (max-width: 1200px) {
	.block {
		padding: 120px 100px;
	}
	.blurImg, .blurImg > div  {
		height: 850px;
	  }
	.footer {
		padding: 30px 100px;
	}
	.fourth {
		width: 42%;
	}
	input:nth-of-type(odd) {
		margin-right: 27px;
	}
	nav {
		padding: 0 50px;
		margin: 0 50px;
	}
}
@media only screen and (max-width: 990px) {
	.block {
		padding: 90px;
	}
	.block .splitcontent:nth-of-type(1) {
		padding-right: 0;
	}
	.footer {
		padding: 30px 90px;
	}
	.fourth {
		width: 39%;
	}
	.hero-btn {
		top: 740px;
		right: 7%;
	}
	.hero-text {
		top: 310px;
		right: 0;
		left:0;
		width: 100%;
		text-align: center;
	}
	html {
		text-align: center
	}
	input[type=text], textarea {
		width: calc(100% - 33px);
		display: block;

	}
	input:nth-of-type(odd) {
		margin-right: 0px;
	}
	nav {
		padding: 0 25px;
		margin: 0;
		text-align: left;
	}
	.splitcontent {
		width: 100%;
		display: block;
		margin-bottom: 50px
	}
}
@media only screen and (max-width: 768px) {
	.block {
		padding: 90px 40px;
	}
	.blurImg > div  {
		background-image: url("../img/hero-mobile.jpg") !important;
	  }
	.blurImg, .blurImg > div  {
		height: 500px;
	  }
	.footer {
		padding: 30px 40px;
	}
	.fourth {
		width: 100%;
		margin: 11px 0;
		padding: 0;
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 17px;
	}
	h4 {
		font-size: 15px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 12px;
	}
	.hero-btn {
		top: 450px;
		right: 0;
		width: 50px;
		height: 50px;
		left: 0;
		position: absolute;
		margin: auto;
	}
	.hero-btn .point {
		position: relative;
		right: -34px;
		bottom: -32px;
	}
	.hero-btn .point::before, .hero-btn .point::after {
		height: 14px;}
	.hero-btn .point::after {
		top: -20px;}
	.hero-text {
		position: absolute;
		top: 190px;
	}
	.interior-header h1 {
		top:215px
	}
	nav {
		padding: 0px;
		text-align: left;
	}
	.navigation-left {
		vertical-align: top;
	}
	.navigation-mobile, .navigation-left {
		width: 70px;
	}
	.navigation-mobile {
		display:inline-block;
	}
	.navigation-mobile svg {
		height: 85px;
	}
	.navigation-right {
		display:none;
	}
	p {
		font-size: 12px
	}
	.section:nth-of-type(3) a, .section:nth-of-type(3) div {
		width: 100%;
		margin: 0
	}
	.scroll-downs {
		top: 350px;
	}
}












  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #EBEBE9;
    border-radius: 25px;
    opacity: .5;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #EBEBE9;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }





	.menu--4 .line--2 {
	  --total-length: 99;
	}
	.menu--4 .line--1,
	.menu--4 .line--3 {
	  --total-length: 103.35061645507812;
	  --offset: -54.35061645507812;
	}
  path {
	fill: none;
	stroke: #083931;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	--length: 0;
	--offset: -50;
	stroke-dasharray: var(--length) var(--total-length);
	stroke-dashoffset: var(--offset);
	transition: all .8s cubic-bezier(.645, .045, .355, 1);
  }
  
  



















 .sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 999; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-image: linear-gradient(to bottom right, #083931, #031c18);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
	.sidenav a {
		padding: 8px 8px 8px 32px;
		color: white;
		transition: 0.3s;
	  }
  .sidenav a:hover {
	opacity: .5;
  }
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	text-align: right;
  }
  #main {
	transition: margin-left .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  } 